# =============================================================================
# Go
# =============================================================================

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# coverage
coverage.out
coverage.html

# binaries
bin/
dist/

# =============================================================================
# IDEs
# =============================================================================

.vscode/
.idea/

# vim/neovim
*.swp
*.swo
*~

# =============================================================================
# OS junk
# =============================================================================

.DS_Store
Thumbs.db

# =============================================================================
# Kubernetes Secrets
# =============================================================================

deploy/overlays/dev/secret.env
deploy/overlays/prod/secret.env

# Or future-proof:
**/secret.env

# =============================================================================
# Local Environment Files
# =============================================================================

historical/*
.env
.env.*

!.env.example

k3s-yamls/

# =============================================================================
# Logs
# =============================================================================

*.log

# =============================================================================
# Temporary Files
# =============================================================================

tmp/
temp/

# =============================================================================
# Local Testing Data
# =============================================================================

test.txt

# =============================================================================
# Generated Data / Dumps
# =============================================================================

*.dump.sql

# large generated datasets
gtfb_final_data.json
line_counts_data.json
line_counts.txt

# =============================================================================
# Aerospike / local experimentation
# =============================================================================

1